.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  background-color: #4CAF50;
  color: white;
  line-height: 150px;
  justify-content: center;
}

.body {
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  height: 300px;
}

.footer {
  display: flex;
  background-color: #4CAF50;
  color: white;
  height: 50px;
  justify-content: center;
}
